body {
    text-align: center;
    font-family: arial,sans-serif;
    color: #222, gray;
}

header {
    font-family: arial,sans-serif;
    font-size: 15px;
    color:gray;
    top;
}

a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}


.headerright {
    display:flex;
    align-items:center;
    float:none;
    position: absolute;
    right: 33px;
    
}


ul {
    list-style-type: none;
    display: inline;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
        display: inline;
        float: left;
        padding-left: 2rem;
      }
footer{
    font-family: arial,sans-serif;
    font-size: 15px;
    position:fixed;
    bottom:0;
    right:0;
    left:0;
}
.footerright{
    display:flex;
    align-items:center;
    float: none;
    position: absolute;
    right:20px;
    color: #3f3f3f;
    
}

.logo {
    padding-top: 110px;
    vertical-align: baseline;
}
img{
    width: 300px;
}

.search-form-container {
    width: 35rem;
    position: relative;
    margin: 0 auto;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    padding: 0;
}

.search-form-input {
    width: 100%;
    border-style: solid;
    border-radius: 100px;
    border-color: #DFE1E5;
    border-width: 1px;
    padding: 0.6rem 0.85rem 0.6rem 2.8rem;
    box-sizing: border-box;
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-family: Arial, sans-serif;
}
.lucky{
    background-color: rgb(244, 244, 244);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-left-style: none;
border-right-style: none;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
color: rgb(95, 99, 104);
line-height: normal;
margin-bottom: 0px;
margin-left: 4px;
margin-right: 4px;
margin-top: 0px;
padding-bottom: 9.6px;
padding-left: 14.4px;
padding-right: 14.4px;
padding-top: 9.6px;
}

.googlesearch{
background-color: rgb(244, 244, 244);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-left-style: none;
border-right-style: none;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
color: rgb(95, 99, 104);
padding-bottom: 9.6px;
padding-left: 14.4px;
padding-right: 14.4px;
padding-top: 9.6px;
text-align: center;
}
.button {
    margin-top: 150px;
}